.background {
  background-color: #8CACD0;
  height: 100vh;
}

.authorization_form {
  background-color: #8CACD0;
}

.button_wrapper {
  background-color: #8CACD0;
}

.registration_inputs {

  display: grid;
  grid-template-columns: 350px;
  gap: 5px
}
