.logo{
    position: absolute;
    left:25px;
    top:25px;
}
.menu{
    position: absolute;
    width: 124px;
    height: 48px;
    left: 1465px;
    top: 25px;

    background: #42445A;
    border-radius: 24px;
}
.user{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1471px;
    top: 29px;
    border-radius: 24px;
}
.user1{

    position: absolute;
    width: 48px;
    height: 48px;
    right: 5%;
    top: 4%;
    border: 3px solid #42445A;
    border-radius: 14px;
}
.tests_and_polls{
    position: absolute;
    left:12%;
    top:18%;
    font-size: 1.5vw;
    font: Oswald;
    border: 2px solid #42445A;
    border-radius: 14px;
    display: flex;
    justify-content: space-evenly;
    width:10%;
    height: 7%;
    align-items: center;
}
.tests{
    border: 6px solid #42445A;
    border-radius: 14px;
    margin-right: 5%;
    padding: 2% 0px;
}

.polls{
    margin-right: 7%;
}

.search{
    position: absolute;
    width: 31.5%;
    height: 7%;
    left: 27.8%;
    top: 17.9%;

    background: #DDE9EE;
    border: 2px solid #42445A;
    border-radius: 14px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.search_image{
    width: 6.5%;
    height: 60%;
    margin-right: 3%;
}
.container{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 65%;
    top: 18%;
    height: 38%;
    width:25%;
}
.answer_types{
    width: 80%;
    height: 18%;

    border: 2px solid #42445A;
    border-radius: 14px;
}

.answer_type_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height:100%;
}
.answer_type{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 36px;
    margin-right: 3%;
}
.answer_type_selected{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    border: 4px solid #42445A;
    border-radius: 14px;
    margin-right: 4%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
.plus_block{
    width: 14%;
    height: 17%;

    background: #DDEAEE;
    border: 2px solid #42445A;
    border-radius: 14px;
    font-size: 3.5vw;
}
.plus{
    margin-left: 24%;
    margin-top: -36%;
}

.answers{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    left: 12%;
    top: 25%;
    height: 70%;
    width:78%;
}

.answer{
    box-sizing: border-box;
    width: 100%;
    height: 21%;
    background: #DDEAEE;
    border: 3px solid #42445A;
    border-radius: 14px;
    display: flex;
}

.columns{
    width: 50%;
    height: 105%;
    flex: 1 1 auto;
    margin: -2px -5px;

    background: #DDEAEE;
    border: 6px solid #42445A;
    border-radius: 14px;
}

.plus_box{
    box-sizing: border-box;
    width: 10%;
    height: 105%;
    margin-left: -3px;
    margin-top: -3px;
    padding-bottom: 3px;

    background: #DDEAEE;
    border: 4px solid #42445A;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
}

.answer_container{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height:100%;
    align-items:center;
}

.name{
    width: 201px;
    height: 36px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3vw;
    line-height: 36px;
}
.code{
    width: 58px;
    height: 27px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 36px;
}
.date{
    width: 104px;
    height: 29px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 1.5vw;
    line-height: 36px;
}
.settings{
    width: 26px;
    height: 26px;
}
.delete{
    width: 26px;
    height: 26px;
}

/* @media (max-width: 1535px){
    .answer{
        width: 900px;
        left: -50px;
    }
    .columns{
        width: 500px;
        left: 600px;
        bottom:-2px;

    }
    .menu{
        left: 1335px;
    }
    .user{
        left: 1341px;
    }
    .tests_and_polls{
        left:129px;
    }
    .answer_types{
        left: 770px;
    }
    .plus{
        left: 1185px;
    }   
}

@media (max-width: 1300px){
    .answer{
        width: 650px;
        left: -50px;
    }
    .name{
        width: 201px;
        height: 36px;
        left: 10px;
    }
    .code{
        width: 58px;
        height: 27px;
        left: 240px;
    }
    .date{
        width: 104px;
        height: 29px;
        left: 315px;
        top: 30px;
    }
    .settings{
        width: 26px;
        height: 26px;
        left: 445px;
        top: 37px;
    }
    .delete{
        width: 26px;
        height: 26px;
        left: 478px;
        top: 37px;
    }
    .columns{
        width: 470px;
        left: 520px;
        bottom:-3px;
    }
    .tests_and_polls{
        left:129px;
    }
    .answer_types{
        left: 650px;
    }
    .plus{
        left: 1064px;
    }
    .menu{
        left: 1155px;
    }
    .user{
        left: 1161px;
    }
    #new{
        height: 46px;
        left: 173px;
        top: 0px;
        background: #DDEAEE;
        border: 6px solid #42445A;
        border-radius: 14px;
    }
}

@media (max-width: 1100px){
    .answer{
        width: 520px;
        height: 100px;
        left: -110px;
        margin-top:20px;
    }
    .name{
        width: 201px;
        height: 36px;
        left: 10px;
    }
    .code{
        width: 58px;
        height: 27px;
        left: 230px;
    }
    .date{
        width: 104px;
        height: 29px;
        left: 300px;
        top: 30px;
    }
    .settings{
        width: 26px;
        height: 26px;
        left: 420px;
        top: 37px;
    }
    .delete{
        width: 26px;
        height: 26px;
        left: 450px;
        top: 37px;
    }
    .columns{
        width: 390px;
        height: 100px;
        left: 480px;
        bottom:-3px;
    }
    .tests_and_polls{
        left:85px;
    }
    .answer_types{
        left: 500px;
    }
    .plus{
        left: 900px;
    }
    .menu{
        left: 960px;
    }
    .user{
        left: 967px;
    }
}

@media (max-width: 900px){
    .answers{
        left: 179px;
        top: 215px;
    }
    .answer{
        width: 450px;
        height: 75px;
        left: -120px;
        margin-top:20px;    
        background: #DDEAEE;
        border: 3px solid #42445A;
        border-radius: 14px;
    }
    .name{
        width: 201px;
        height: 36px;
        left: 10px;
        top:20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 36px;
    }
    .code{
        width: 58px;
        height: 27px;
        left: 190px;
        font-size: 16px;
        top:20px;
    }
    .date{
        width: 104px;
        height: 29px;
        left: 255px;
        top: 30px;
        font-size: 16px;
        top:20px;
    }
    .settings{
        width: 26px;
        height: 26px;
        left: 350px;
        top: 27px;
    }
    .delete{
        width: 26px;
        height: 26px;
        left: 380px;
        top: 27px;
    }
    .columns{
        width: 360px;
        height: 75px;
        left: 420px;
        bottom:-3px;
    }
    .tests_and_polls{
        left:60px;
        top:143px;
        font-size: 21px;
        font: Oswald;
        border: 2px solid #42445A;
        border-radius: 14px;
        display: flex;
    }
    .answer_types{
        left: 430px;
        top:143px;
        font-weight: 360;
        font-size: 21px;
        line-height: 30px;
        padding-bottom: -1px;
        display: flex;
        align-items: center;

        color: #42445A;
        border: 2px solid #42445A;
        border-radius: 14px;
    }
    #new{
        height: 40px;
        left: 173px;
        top: 0px;
    
        background: #DDEAEE;
        border: 6px solid #42445A;
        border-radius: 14px;
    }
    .plus{
        left: 790px;
    }
    .menu{
        left: 810px;
    }
    .user{
        left: 817px;
    }
    .logo{
        position: absolute;
        left:25px;
        top:25px;
    }
} */